<div>
    <div>© Copyright 2020 <a href="http://raphaelnoriode.me/">Raphael Noriode</a></div>
    <div>
        check out project on 
        <a href="https://github.com/Oghenebrume50/slack-readExport">Github</a>
    </div>
    <div> say hi on <a href="https://twitter.com/raphael_noriode">Twitter</a></div>
</div>