<style>
    body {
        padding: 20px 50px;
        background: rgb(15, 15, 15);
        color: #fff;
        font-family: 'Courier New', Courier, monospace
    }

    .header h1 {
        text-align: center;
        color: rgb(255, 69, 0)
    }

    .header p {
        text-align: center;
        margin-bottom: 30px
    }

    .endpoint {
        margin-left: 5%;
        padding: 1px 20px 10px;
        margin-bottom: 50px;
        border-left: 1px solid rgb(255, 69, 0);
        font-family: Arial, Helvetica, sans-serif
    }

    .category h2 {
        text-align: center;
        font-size: xx-large;
        margin-top: 50px
    }

    .endpoint span {
        display: inline-block;
        min-width: 60px;
        text-align: center;
        background: rgb(255, 69, 0);
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-right: 10px
    }

    hr {
        width: 70vw;
        border-color: rgba(255, 68, 0, 0.055)
    }
</style>

<div class="category">
    <h2>Exported content</h2>
    <% contents.forEach(function(content){ %>
        <div class="endpoint">
            <p><%= content %></p>
        </div>
    <% }); %>
    
</div>