<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') -%>
</head>
<body>
    <div class="category">
        <h2>Read Exported content</h2>
        <% contents.forEach(function(content){ %>
            <div class="endpoint">
                <p><%= content %></p>
            </div>
        <% }); %>
    </div>
    <footer id="footer">
        <%- include ('partials/footer') -%>
    </footer>
</body>
</html>

